.register__save-button {
  margin: 216px 0 0 0;
  padding: 14px 0;
  background-color: rgba(255,255,255,1);
  color: rgba(0,0,0,1);
  border: none;
  border-radius: 2px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  transition: opacity 0.3s ease-in-out;
}

.register__save-button:hover {
  cursor: pointer;
  opacity: 85%;
}

@media (max-width: 320px) {
  .register__save-button {
    margin: 173px 0 0 0;
    font-size: 16px;
    line-height: 19px;
  }
}