.auth__form {
  width: 358px;
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 450px) {
  .auth__form {
    width: 300px;
  }
}

@media (max-width: 320px) {
  .auth__form {
    padding: 40px 0 0 0;
    width: 260px;
  }
}
