.modal__auth-message {
  padding: 32px 0 26px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  text-align: center;
}

@media (max-width: 320px) {
  .modal__message {
    padding: 40px 0 25px;
    font-size: 20px;
    line-height: 24px;
  }
}